.App {
  text-align: center;
  background-color: white;
  margin: 0 20%;
}

.todoListMain .todoListHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  background-color: aliceblue;
  height: 68px;
}
.todoListMain .todoListHeader form {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.todoListMain .todoListHeader form label {
  font-size: small;
}

.todoListMain .todoInputForm {
  display: flex;
  justify-content: space-between;
}
.todoListMain .todoInputForm input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  outline: none;
  width: 100%;
}

.todoListMain .theList {
  padding-inline-start: 0;
  width: 100%;
}
.todoListMain .theList .listItem {
  display: flex;
  justify-content: space-between;
}
.todoListMain .theList form {
  border-bottom: 1px solid darkgrey;
  margin: 10px 25px
}
.todoListMain .theList .listItem button {
  border: none;
  font-weight: bold;
  outline: none;
}
.todoListMain .theList .listItem .listItemText {
  width: 90%;
  display: flex;
}
.todoListMain .theList .listItem .listItemText input {
  margin-right: 13px;
}
